* {
    margin: 0;
    padding: 0;


}
body{
background-image:url(https://wallpaperaccess.com/full/2936194.jpg);
background-attachment: fixed;
background-size: cover;

}
nav {
border: 1px solid black;
background-color: rgb(143, 143, 143);
background-color: rgb(0, 0, 0, 0.5);
border-radius: 5px;
width: 440px;
height: 25px;
margin: 5px;
display: flex ;

justify-content: space-between;

}
.opciones {
    display: flex;
    justify-content: flex-end;
}
.botones{
    width: 40px;
    height: 10px;   
    font-size: 5px;   
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
  
}

.buscar{
    width: 50px;
    height: 10px;   
    font-size: 5px;  
    margin-left: 5px;   
    margin-right: 5px;
}


.inicio {
    width: 5px;
    height: 5px;
    margin-left: 8px;
    margin-top: 1px;
   
       
}
.corona {
    width: 15px;
    height: 15px;
    background-color: transparent;
   
}